name: CI/CD Docker Compose

on: [push]

jobs:
  build-and-unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn test -Dskip.integration.tests=true

  integration-testing-ephemeral-env:
    runs-on: ubuntu-latest
    needs: build-and-unit-test

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          compose-file: "./docker-compose.yml"
          down-flags: "--volumes"

      - name: Check running containers
        run: sleep 10 && docker logs flyway